body {
  background: $alabaster;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  font-size: 10px;
  -webkit-text-size-adjust: 100%;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}


.section-headlines {
  @include headline(4, 4);
  color: $color-copy;
  display: inline-block;
  font-family: $font-fira;
  margin: 0;

  &::after {
    border: 3px solid $kepper;
    content: '';
    display: block;
  }
}
