// Rem sizing /w px fallback
@mixin font-size($sizeValue: 1.6) {
  font-size: $sizeValue * 10 + px;
  font-size: $sizeValue + rem;
}// @include font-size(1.2);

@mixin media($breakpoint) {
  @media only screen and (min-width: $breakpoint) {
    @content;
  }
}// @include breakpoint(medium);s

@mixin line-height($sizeValue: 1.6) {
  line-height: $sizeValue * 10 + px;
  line-height: $sizeValue + rem;
}// @include line-height(4);

@mixin headline($sizeValue: 20, $heightValue: 20) {
  @include font-size($sizeValue);
  @include line-height($heightValue);
}

@mixin size($w: 100%, $h: 100%) {
  height: $h;
  width: $w;
}// @include size(100px, 50px);


@mixin font-face($family, $src, $weight: normal, $style: normal) {
  @font-face {
    font-family: $family;
    font-style: $style;
    font-weight: $weight;
    src: url('#{$src}.woff2') format('woff2'), url('#{$src}.woff') format('woff'), url('#{$src}.ttf') format('truetype'); // Safari, Android, iOS
  }
}
