// VARIABLES

// Base Colors
$white: #fff;
$black: #000;
$heavenly-white: #ebe8e6;
$astronaut-blue: #01455e;
$raw-sienna: #d2783a;
$soft-amber: #cbc0ad;
$kepper: #3aa9ae;

// Font Families
$font-roboto-light: 'Roboto Light', arial, sans-serif;
$font-roboto-regular: 'Roboto Regular', arial, sans-serif;
$font-roboto-bold: 'Roboto Bold', arial, sans-serif;
$font-roboto-black: 'Roboto Black', arial, sans-serif;
