.section {
  padding: 50px 0;

  .imagesWrap {
    display: flex;
    justify-content: space-between;

    img {
      margin-right: 15px;
      width: 350px;

      &:last-of-type {
        margin-right: 0;
      }
    }
  }

  .copy {
    @include headline(1.4, 1.8);
    color: $color-copy;
    font-family: $font-montserrat-light;
    margin: 30px 0;
  }
}
