.header {
  .headerWrapper {
    border-top: 5px solid $astronaut-blue;
  }

  .wrapper {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 17px 0;
  }

  .logoWrapper {
    display: block;
    margin: 0 auto;
  }

  .logo {
    width: 50px;

    @include breakpoint(medium) {
      width: 100px;
    }
  }
}
